.Main, html, body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: -webkit-linear-gradient(360deg,#030303 10%,#1f1f1f 360%); background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* color: #61dafb; */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  max-width: 100vw;
  text-align: center;
  height: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
