#navbar {
    display: flex;
    flex-direction: row;
    /* flex: 0 1 calc(100% - 1.5em); */
    flex: 1 1 auto;
    background: -webkit-linear-gradient(360deg,#383836 10%,#4a4a4a 360%); background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
    height: calc(25px + 5.5vh);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #39FF14 inset;
}

#title{
    text-align: right;
}

.navButton {
    font-size: calc(10px + 3.5vh);
    height: calc(25px + 5.5vh);
    background-color: #39FF14;
    border-right: #383836 solid 1.5px;
    border-radius: 0px 10px 10px 0px;
}

.navButton:nth-of-type(1) {
    border-radius: 10px
}

@media only screen and (max-width: 900px) {
    .navButton {
        flex: 1;
        font-size: calc(10px + 2vh);
    }
}